/* VARIABLES 
        ================== */

:root {
    /* Colors */
    --font-white: #fff;
    --font-black: #000;
    --hover-color: #FF6565;
    --button-color: #FF6565;
    --button-hover: opacity(0.9);

    /* Font */
    --font-primary: 'source-sans-pro', sans-serif;
    --font-secondary: 'Spin-Cycle-OT', sans-serif;
    --small-font-size: 12px;
    --medium-font-size: 16px;
    --large-font-size: 32px;
    --line-height: 26px;
}

/* FONT FACE
                ================== */

@font-face {
    font-family: "holberton_school-icon";
    src: url("fonts/holberton_school-icon.eot?sq4eq4") format("embedded-opentype");
    /* sq4eq4 = compression */

    src: url("fonts/holberton_school-icon.eot?sq4eq4#iefix") format("embedded-opentype"),
        /* sq4eq4#iefix = compression + optimisation pour Internet Explorer */
        url("fonts/holberton_school-icon.ttf?sq4eq4") format("truetype"),
        url("fonts/holberton_school-icon.woff?sq4eq4") format("woff"),
        url("fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="holberton_school-icon-"],
[class*=" holberton_school-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: "holberton_school-icon" !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-size: 7rem;
    color: var(--button-color);
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    /*Chrome, Safari et Opera */
    -moz-osx-font-smoothing: grayscale;
    /* Mozilla Firefox */
}

/* RESET CSS 
                ================== */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* BODY GLOBAL CSS 
                ================== */

body {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    background-color: #F2F2F2;
}

/* HEADER SECTION
                ================== */

header {
    margin-top: 30px;
    width: 100%;
    max-width: 1400px;
    height: 40px;
    position: absolute;
    z-index: 10;
}

#header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
}

header a {
    color: var(--font-white);
    font-family: var(--font-primary);
    font-size: var(--small-font-size);
    font-weight: 550;
    text-decoration: none;
    transition: color 0.2s ease;
}

header a:hover {
    color: var(--hover-color);
}

#header-text-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a.header-text {
    padding: 0 20px;
}

header img {
    width: 161px;
    height: 32px;
}

.small-nav,
#small-icon-handler,
#small-icon-btn {
    display: none;
}

/* Tablet version */
@media (max-width: 768px) {
    header {
        max-width: 768px;
    }

    #header-container {
        max-width: 633px;
    }
}

/* Mobile version */
@media (max-width: 375px) {
    #header-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 375px;
        margin: 0 auto;
        height: 100%;
    }

    #header-text-container {
        display: none;
    }

    .burger-menu-container a {
        color: var(--font-white);
        font-family: var(--font-primary);
        font-size: var(--small-font-size);
        font-weight: 550;
        text-decoration: none;
        transition: color 0.2s ease;
    }

    .burger-menu-container a:hover {
        color: var(--hover-color);
    }

    #small-icon-handler {
        display: block;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 1.5rem;
        height: 3px;
        width: 1rem;
        background-color: var(--font-white);
        cursor: pointer;
        transition: transform 0.2s;
    }

    #small-icon-handler::before {
        content: "";
        display: block;
        border-top: 3px solid var(--font-white);
        margin-top: -0.7rem;
        width: 1.8rem;
        transition: transform 0.2s;
    }

    #small-icon-handler::after {
        content: "";
        display: block;
        border-top: 3px solid var(--font-white);
        margin-top: 1.1rem;
        width: 1.5rem;
    }

    #hero-text-container {
        padding: 500px 15px 60px 15px;
    }

    .small-nav {
        display: none;
        position: absolute;
        top: 15px;
        right: 4rem;
        left: 4rem;
        margin: 2.5rem auto;
        max-width: 100%;
        padding: 1rem 2rem;
        text-align: center;
    }

    .small-nav a {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        margin-left: 0rem;
        font-size: 25px;
        margin: 10px auto;
    }

    input#small-icon-btn:checked~.small-nav {
        display: block;
    }

    input#small-icon-btn:checked~#small-icon-handler {
        width: 1.8rem;
        transform: rotate(45deg);
    }

    input#small-icon-btn:checked~#small-icon-handler::after {
        display: none;
    }

    input#small-icon-btn:checked~#small-icon-handler::before {
        margin-top: 0;
        transform: rotate(90deg);
        transition: transform 0.1s;
    }
}

/* HERO SECTION 
                ================== */

#hero {
    background: url("images/headphones_hero_1.jpg");
    width: 1400px;
    height: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-text-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 680px;
    max-height: 313px;
    color: var(--font-white);
    font-family: var(--font-primary);
    margin-top: 250px;
}

#hero-text-container h1 {
    font-size: 32px;
    margin-bottom: 5px;
}

#hero-text-container h2 {
    font-size: 16px;
    font-weight: 600;
}

#hero-text-container p {
    font-size: 16px;
    font-weight: 100;
    line-height: 26px;
}

#hero-text-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--button-color);
    color: var(--font-white);
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 15px 50px;
    border-radius: 22px;
    margin: 40px auto 60px auto;
    max-width: 162px;
    max-height: 44px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    border: none;
    outline: none;
    cursor: pointer;
}

#hero-text-container button:hover {
    opacity: 0.9;
}

/* Tablet version */
@media (max-width: 768px) {
    #hero {
        background: url("images/headphones_hero_1.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 800px;
    }
}

/* Mobile version */
@media (max-width: 375px) {
    #hero {
        background: url("images/headphones_hero_1.jpg");
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 869px;
    }

    #hero-text-container {
        margin-top: -750px;
    }
}

/* WHAT WE DO SECTION
                ================== */

#what-we-do {
    background-color: var(--font-white);
    width: 1400px;
    height: 694px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#what-we-do-text-container {
    color: var(--font-black);
    font-family: var(--font-primary);
    width: 640px;
    height: 185px;
    text-align: center;
}

#what-we-do-text-container h1 {
    font-size: var(--large-font-size);
    margin-bottom: 40px;
}

#what-we-do-text-container p {
    font-size: var(--medium-font-size);
    line-height: var(--line-height);
    width: 680px;
    height: 105px;
}

#sample-container {
    width: 1100px;
    height: 200px;
    display: flex;
    flex-direction: row;
}

.holberton_school-icon-ic_sound:before {
    content: "\e90e";
}

.holberton_school-icon-ic_video:before {
    content: "\e910";
}

.holberton_school-icon-ic_music:before {
    content: "\e90d";
}

.holberton_school-icon-ic_hearing:before {
    content: "\e909";
}

.holberton_school-icon-ic_sound {
    width: 95px;
    height: 65px;
}

.holberton_school-icon-ic_video {
    width: 68px;
    height: 77px;
}

.holberton_school-icon-ic_music {
    width: 52px;
    height: 57px;
}

.holberton_school-icon-ic_hearing {
    width: 62px;
    height: 62px;
}

.sample {
    width: 210px;
    height: 200px;
    margin: 0 50px;
    text-align: center;
}

.sample h2 {
    font-family: var(--font-primary);
    font-size: 18px;
    font-weight: 550;
    margin: 15px 0;
}

.sample p {
    font-family: var(--font-primary);
    line-height: var(--line-height);
    font-size: 14px;
}

/* Tablet version */
@media (max-width: 768px) {
    #what-we-do {
        background-color: var(--font-white);
        width: 100%;
        height: 970px;
    }

    #what-we-do-text-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #sample-container {
        width: 472px;
        height: 470px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
    }

    .holberton_school-icon-ic_video,
    .holberton_school-icon-ic_music,
    .holberton_school-icon-ic_sound,
    .holberton_school-icon-ic_hearing {
        font-size: 5rem;
    }

    .sample {
        width: 210px;
        height: 180px;
        margin: 0;
    }
}

/* Mobile version */
@media (max-width: 375px) {
    #what-we-do {
        background-color: var(--font-white);
        width: 100%;
        height: 1638px;
    }

    #what-we-do-text-container {
        max-width: 325px;
        max-height: 288px;
    }

    #what-we-do-text-container p {
        width: 100%;
        height: 100%;
    }

    #sample-container {
        width: 207px;
        height: 1020px;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
    }

    .holberton_school-icon-ic_video,
    .holberton_school-icon-ic_music,
    .holberton_school-icon-ic_sound,
    .holberton_school-icon-ic_hearing {
        font-size: 5rem;
    }

    .sample {
        width: 210px;
        height: 190px;
        margin: 0;
    }
}

/* OUR RESULTS SECTION
                ================== */

#our-results {
    background: url("./images/headphones_hero_2.jpg");
    width: 1400px;
    height: 650px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: var(--font-white);
    font-family: var(--font-primary);
}

#our-results-text-container {
    width: 680px;
    height: 105px;
}

#our-results-text-container h1 {
    font-size: var(--large-font-size);
    font-weight: 500;
    margin-bottom: 40px;
}

#our-results-text-container p {
    font-size: var(--medium-font-size);
    font-weight: 100;
    line-height: var(--line-height);
}

#polygon-container {
    width: 990px;
    height: 190px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

.polygon {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.polygon-icon img {
    width: 190px;
    height: 190px;
}

.polygon-text-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    z-index: 2;
    position: relative;
    bottom: 115px;
}

.polygon-text-container h2 {
    margin-bottom: 25px;
    font-size: 46px;
    font-weight: 550;
    line-height: var(--line-height);
}

.polygon-text-container p {
    font-size: 14px;
    font-weight: 100;
    line-height: var(--line-height);
}

/* Tablet version */
@media (max-width: 768px) {
    #our-results {
        width: 100%;
        height: 876px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #our-results-text-container {
        margin-top: 40px;
    }

    .polygon-text-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    #polygon-container {
        width: 460px;
        height: 425px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem;
        margin-top: 60px;
    }

    .polygon {
        width: 190px;
        height: 190px;
        margin: 0;
    }
}

/* Mobile version */
@media (max-width: 375px) {
    #our-results {
        width: 100%;
        height: 1491px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #our-results-text-container {
        margin-top: 40px;
        width: 315px;
        height: 335px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #our-results-text-container h1 {
        width: 280px;
    }

    #polygon-container {
        width: 190px;
        height: 890px;
        justify-content: center;
        align-items: center;
        gap: 3rem;
        margin-top: 0;
        margin-bottom: 20px;
    }

    .polygon {
        width: 190px;
        height: 190px;
        margin: 0;
    }
}

/* CONTACT US SECTION
                ================== */

#contact {
    background-color: var(--font-white);
    width: 1400px;
    height: 613px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--font-black);
    font-family: var(--font-primary);
}

#contact-container {
    width: 335px;
    height: 373px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

#contact-container h1 {
    font-size: var(--large-font-size);
    font-weight: 550;
}

#form-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

#contact-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--button-color);
    color: var(--font-white);
    font-family: var(--font-primary);
    font-size: 12px;
    font-weight: 500;
    padding: 15px 50px;
    border-radius: 22px;
    max-width: 162px;
    max-height: 44px;
    white-space: nowrap;
    border: none;
    outline: none;
    cursor: pointer;
}

#contact-container button:hover {
    opacity: 0.9;
}

form {
    width: 100%;
}

.input-container {
    margin: 50px 0;
}

.input-container input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--font-black);
    opacity: 0.2;
}

/* Tablet version */
@media (max-width: 768px) {}

/* Mobile version */
@media (max-width: 375px) {}